@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Accounts</h2>
@Html.ActionLink("NEW Account", "New", "Admin", new { @class = "btn btn-primary" })
<div class="voffset2"/>
<table id="Account" class="table table-bordered table-hover col-lg-12">
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Activated</th>
        <th>(De)activate</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    @Html.Partial("_RolesTemplate")
    <script>
        
        $(document).ready(function() {
            AccountTableController.init("#Account");
            AccountStatusController.init("#Account");
            AccountRoleController.init("table", "#roles-template");
        });

    </script>
}
