@using GigHub.Core.ViewModels
@model ArtistWithGigsViewMode

@foreach (var gig in Model.Gigs)
{                      
<div class="col-sm-4 voffset4">
    @Html.Partial("_upcomingGig",
        new GigViewModel
        {
            Attending = Model.MyAttendances.Contains(gig.Id),
            Gig = gig
        })
</div>
} 